footer{
    // height: 35vh;
    background-color: #301446;
    padding: 2rem;
  
  .footer-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }
  li{
    list-style: none;
     color: #fff;
    font-size: 1.3rem;

  }

  p{
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }
  .logo{
    width: 200px;
    height: 100px;
  }
}